{#
/**
 * Theme override for views_tree table to add govgr table classes.
 *
 * Based on views_tree default template with govgr table BEM classes.
 */
#}

{%
  set container_classes = [
    'govgr-table-container',
    'govgr-table-container--border',
    'govgr-views-table-container',
  ]
%}

{%
  set table_classes = [
    'govgr-table',
    'govgr-table--zebra',
    'govgr-table--dark',
    'views-table',
    'views-view-table',
    'cols-' ~ header|length,
    responsive ? 'responsive-enabled',
    sticky ? 'sticky-enabled',
  ]
%}
{% set table_id = 'views-tree-table-' ~ random() %}
{{ attach_library('kemke/views-tree-table') }}
{% import _self as views_tree %}

<div class="{{ container_classes|join(' ') }}">
  <table{{ attributes.addClass(table_classes).setAttribute('id', table_id) }}>
    {% if caption_needed %}
      <caption class="govgr-table__caption">
        {% if caption %}
          {{ caption }}
        {% else %}
          {{ title }}
        {% endif %}
        {% if (summary is not empty) or (description is not empty) %}
          <details>
            {% if summary is not empty %}
              <summary>{{ summary }}</summary>
            {% endif %}
            {% if description is not empty %}
              {{ description }}
            {% endif %}
          </details>
        {% endif %}
      </caption>
    {% endif %}
    {% if header %}
      <thead class="govgr-table__head">
      <tr class="govgr-table__row">
        {% for key, column in header %}
          {% set header_id = table_id ~ '-col-' ~ loop.index %}
          {% set column_classes = ['govgr-table__header'] %}
          {% if column.default_classes %}
            {% set column_classes = column_classes|merge([
              'views-field',
              'views-field-' ~ fields[key],
            ]) %}
          {% endif %}
          <th{{ column.attributes.addClass(column_classes).setAttribute('scope', 'col').setAttribute('id', header_id) }}>
            {%- if column.wrapper_element -%}
              <{{ column.wrapper_element }}>
              {%- if column.url -%}
                <a href="{{ column.url }}" title="{{ column.title }}">{{ column.content }}{{ column.sort_indicator }}</a>
              {%- else -%}
                {{ column.content }}{{ column.sort_indicator }}
              {%- endif -%}
              </{{ column.wrapper_element }}>
            {%- else -%}
              {%- if column.url -%}
                <a href="{{ column.url }}" title="{{ column.title }}">{{ column.content }}{{ column.sort_indicator }}</a>
              {%- else -%}
                {{- column.content }}{{ column.sort_indicator }}
              {%- endif -%}
            {%- endif -%}
          </th>
        {% endfor %}
      </tr>
      </thead>
    {% endif %}
    <tbody class="govgr-table__body">
      {{ views_tree.tree(items, 0, table_id) }}
    </tbody>
  </table>
</div>

{% macro tree(items, level, table_id) %}
  {% import _self as views_tree %}
  {% if items %}
    {%- for item in items -%}
      {{ views_tree.row(item.node, level, item.leaves|length > 0, table_id) }}
      {{ views_tree.tree(item.leaves, level + 1, table_id) }}
    {% endfor %}
  {% endif %}
{% endmacro %}

{% macro row(item, level, has_children, table_id) %}
{% set row_attributes = item.attributes.addClass('govgr-table__row', 'views-tree-row').setAttribute('data-hierarchy-level', level).setAttribute('data-has-children', has_children ? 'true' : 'false').setAttribute('data-expanded', has_children ? 'false' : 'true') %}
<tr{{ row_attributes }}>
  {% for key, column in item.columns %}
    {% set header_id = table_id ~ '-col-' ~ loop.index %}
    {% set column_classes = ['govgr-table__cell'] %}
    {% if column.default_classes %}
      {% set column_classes = column_classes|merge(['views-field']) %}
      {% for field in column.fields %}
        {% set column_classes = column_classes|merge(['views-field-' ~ field]) %}
      {% endfor %}
    {% endif %}
    {% set cell_attributes = column.attributes.addClass(column_classes) %}
    {% set cell_attributes = cell_attributes.setAttribute('headers', header_id) %}
    {% if loop.first %}
      {% set cell_attributes = cell_attributes.setAttribute('style', 'padding-left: ' ~ ((level * 1.25) + 0.5) ~ 'rem;') %}
    {% endif %}
  <td{{ cell_attributes }}>
    {% if loop.first and has_children %}
      <button class="views-tree-toggle" type="button" aria-expanded="false" aria-label="{{ 'Toggle child rows'|t }}"></button>
    {% endif %}
    {%- if column.wrapper_element -%}
      <{{ column.wrapper_element }}>
      {% for content in column.content %}
        {{ content.separator }}{{ content.field_output }}
      {% endfor %}
      </{{ column.wrapper_element }}>
    {%- else -%}
      {% for content in column.content %}
        {{- content.separator }}{{ content.field_output -}}
      {% endfor %}
    {%- endif %}
    </td>
  {% endfor %}
</tr>
{% endmacro %}
